@import './utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#ca9898;
    --light:#F2F2F2;
    --secondary:#070606;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotthing:antialiased;
}
body{
    font-family: 'Poppins',sans-serif;
}
header{
    background: var(--dark);
    padding-bottom: 80px;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
.left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
.left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}
.branding{
    margin-right: 2rem;
}
.right{
    color: var(--pure);
}
.about{
    padding-bottom: 80px;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}
.about .container .right {
    color: var(--dark);
}
.about .container .right span{
    color: var(--primary);
}
section.about .container .left img {
    margin-right: 88px;
}

section.about .container .right h4 {
    margin-top: 10px;
    font-weight: 400;
}

section.about .container .right p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.8;
}
section.about .container .right h2{
    font-size: 25.6px;
    font-weight: 400;
}
.fab{
    padding-right: 10px;
    cursor: pointer;
    color: black;
}
.about{
    background-color: white;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.services{
    background: var(--light);
    padding-top: 100px;
    margin-top: -143px;
}
.services .container h2{
    color: var(--secondary);
    text-align: center;
    line-height: 0.5;
    margin-bottom: 1rem ;
}
.services .container h2 span {
    color: var(--primary);
}
.services .container p{
    text-align: center;
    color: var(--dark);
    margin-bottom: 1rem;
}
.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    
}
.services .card-wrapper .card{
    background: var(--pure);
    margin-right: 10px;
    text-align: center;
    padding-top: 60px;
    position: relative;
}
.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 120px;
}

.card-wrapper{
    margin-top: 70px;
}
.footer{
    background-color: black;
    text-align: center;
}
footer {
    background: black;
    padding: 20px;
}

footer h2 {
    color: white;
    text-align: center;
    /* margin: 20px; */
}
footer h2 span{
    color: var(--primary);
}